* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("space-tourism-website-main/starter-code/assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  color: white;
  font-family: "Bellefair", serif;
  margin-right: 0;
}

header {
  position: relative;
  top: 25px;
  background: linear-gradient(
    to left,
    rgba(50, 50, 59, 0.859),
    rgba(50, 50, 59, 0.859) 55%,
    rgba(46, 20, 101, 0) 30%
  );
}

.img-logo {
  position: relative;
  top: 10px;
  left: 40px;
  width: 40px;
}

.linha-horizontal {
  position: relative;
  border-bottom: 1px solid white;
  top: 30px;
  width: 580px;
  left: 140px;
  opacity: 20%;
}

nav {
  position: relative;
  text-align: right;
  right: 100px;
  bottom: 25px;
}

a {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: lighter;
  font-style: normal;
  color: white;
  text-decoration: none;
  padding: 0 25px;
  font-size: 16px;
  font-style: normal;
  position: relative;
  margin-right: 45px;
}
.menu::after {
  content: "";
  position: absolute;
  width: 60%; /* Diminui a largura da linha para 80% da largura do texto do link */
  height: 2px; /* Espessura da linha */
  background-color: white; /* Cor da linha */
  bottom: -20px; /* Aumenta a separação entre o link e a linha */
  left: 50%; /* Posiciona o início da linha no meio do link */
  transform: translateX(-50%) scaleX(0); /* Centraliza a linha e começa sem largura */
  transition: all 0.2s ease-in-out; /* Suaviza a transição */
  visibility: hidden; /* Inicialmente, o pseudo-elemento não é visível */
}
.menu:hover::after {
  visibility: visible; /* Torna o pseudo-elemento visível ao passar o mouse */
  transform: translateX(-50%) scaleX(1); /* Centraliza a linha e estende a largura para o valor total */
}
/* ------------------------- FIM DO CABEÇALHO-------------------------------*/
.title-destination {
  position: relative;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  left: 140px;
  top: 80px;
  margin: 0;
  width: 400px;
  letter-spacing: 4px;
}
span {
  font-weight: bold;
  padding-right: 25px;
  color: rgb(132, 131, 131);
}

.image-destination {
  position: absolute;
  top: 250px;
  left: 250px;
  width: 350px;
  height: 350px;
}
/* ------------------------- FIM DA SEÇÃO IMAGEM-------------------------------*/

.descriptions {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: auto;
  margin-right: 200px;
  top: 150px;
}

.destinations {
  position: relative;
  width: 400px;
}
.planets {
  display: inline;
  margin: 0;
  padding-right: 10px;
  color: rgb(191, 201, 255);
  font-weight: 400;
  letter-spacing: 2px;
}
.planets::after {
  content: "";
  position: absolute;
  width: 60%; /* Diminui a largura da linha para 80% da largura do texto do link */
  height: 2px; /* Espessura da linha */
  background-color: white; /* Cor da linha */
  bottom: -20px; /* Aumenta a separação entre o link e a linha */
  left: 60%; /* Posiciona o início da linha no meio do link */
  transform: translateX(-50%) scaleX(0); /* Centraliza a linha e começa sem largura */
  transition: all 0.2s ease-in-out; /* Suaviza a transição */
  visibility: hidden; /* Inicialmente, o pseudo-elemento não é visível */
}
.planets:hover::after {
  visibility: visible; /* Torna o pseudo-elemento visível ao passar o mouse */
  transform: translateX(-50%) scaleX(1); /* Centraliza a linha e estende a largura para o valor total */
}

.descriptions,
.text-destinations,
h2 {
  position: relative;
}

h2 {
  font-size: 95px;
  font-weight: lighter;
}

.text-destinations {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-style: normal;
  text-align: justify;
  line-height: 1.6;
  color: rgb(191, 201, 255);
}

.linha-da-secao {
  position: relative;
  border-bottom: 1px solid rgb(56, 59, 75);
  opacity: 80%;
  padding: 20px;
}
.container-distance {
  width: 100%;
  padding-top: 20px;
}
.elements-container {
  display: inline-block;
  padding-right: 100px;
}

h4 {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  color: rgb(191, 201, 255);
}

p {
  font-family: "Bellefair", serif;
  font-family: 28px;
}
